<div class="card-body collapse show" id="legCollapse0" style="">
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4">RHO<br>Diagoras Arpt<br>Rhodes</div>
                <div class="col-md-8"><b class="flightTime">10:00</b> <br>Tues <br>15/06/2018 <br>
                    <p class="gmtDate">10:00</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4">LHR<br>Heathrow Arpt<br>London</div>
                <div class="col-md-8"><b class="flightTime">20:00</b> <br>Tues <br>15/06/2018 <br>
                    <p class="gmtDate">20:00</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#segmentsCollapse0"
                    aria-expanded="true" aria-controls="collapseExample">Expand
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">Stops: 1</div>
        <div class="col-md-4">Duration: 5h 35m</div>
        <div class="col-md-4">Wait time: 2h 10m</div>
    </div>


    <app-flight-segments></app-flight-segments>
    <app-flight-segments></app-flight-segments>
    <app-flight-segments></app-flight-segments>



</div>
