<div class="insuranceCard">
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-6">Select an Insurance</div>
            <div class="col-2"><i class="fas fa-ambulance"></i></div>
            <div class="col-2">
                <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                        data-target="#insuranceCollapse0" aria-expanded="true" aria-controls="collapseExample">
                    Toggle
                </button>
            </div>
        </div>
    </div>


    <div class="collapse" id="insuranceCollapse0">

        <div class="row">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header bg-warning">No insurance</div>
                    <div class="card-body"><input type="radio" value="0"></div>
                    <div class="card-footer">0 EUR</div>
                </div>
            </div>

            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header bg-warning">Globy Classic</div>
                    <div class="card-body"><input type="radio" value="1"></div>
                    <div class="card-footer">15 EUR</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header bg-warning">Globy Cancellation</div>
                    <div class="card-body"><input type="radio" value="2"></div>
                    <div class="card-footer">22 EUR</div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-header bg-warning">Globy Schengen</div>
                    <div class="card-body"><input type="radio" value="3"></div>
                    <div class="card-footer">35 EUR</div>
                </div>
            </div>
        </div>
    </div>


</div>
