<!--The content below is only a placeholder and can be replaced.-->
<div class="row priceBox   sticky-top">
    <div class="col-12">

        <div class="card text-white bg-success mb-3">
            <div class="card-header">
                <div class="row">

                    <div class="col-8">
                        <h3>Price Analysis</h3>
                    </div>


                    <div class="col-3 offset-col-4">
                        <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#priceBoxCollapse"
                                role="button" aria-expanded="false" aria-controls="priceBoxCollapse">
                            Expand
                        </button>
                    </div>

                </div>
            </div>

            <div class="card-body collapse" id="priceBoxCollapse">

                <div *ngFor="let pxg of getPaxGroups">
                    {{pxg}}
                </div>

            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-12"><h4> Total Price : totalPrice EUR </h4></div>
                </div>
            </div>

        </div>


    </div>
</div>

