<!--The content below is only a placeholder and can be replaced.-->
<div class="row priceBox">
    <div class="col-sm-10">




        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-8">
                        PriceBox
                    </div>
                    <div class="col-xs-3">
                    </div>

                    <div class="col-xs-3">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Expand
                        </a>
                    </div>

                </div>
            </div>
            <div class="card-body collapse" id="collapseExample">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer">
                Featured
            </div>

        </div>



    </div>
</div>

