.seatButton {
    padding: 4px;
    font-size: 5px;
    margin: 5px;
    height: 32px;
}


.seatAvailable {
    background-color : #292aff;
}

.seatChosen {
    background-color : #00ff03;
}

.seatTaken {
    background-color: #ece7ff;
}

.seatRowHeader {
    text-align: center;
    height: 45px;
    background-color: #feffd7;

}

.seatLetterGroup {
    margin-right:8%;
}