<div class="row contactDetails">
    <div class="col-12">
        <div class="card">
            <div class="card-header  bg-info">Select your Seat</div>
            <div class="card-body">
                <div class="card bg-info preSeatPaxSelector seatShow">
                    <div class="card-header"><b>Your seats!</b></div>
                    <div class="card-body text-white">
                        <div class="row">
                            <div class="col-10">
                                <div class="alert  alert-dark seatPaxSelector " role="alert"> Passenger# 1</div>
                            </div>
                            <div class="col-2">
                                <div class="alert alert-danger" role="alert">Nothing selected</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 seatLetterGroup">
                        <div class="card">
                            <div class="card-header seatRowHeader"><p><b>A</b></p></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 offset-2">
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 seatLetterGroup">
                        <div class="card">
                            <div class="card-header seatRowHeader"><p><b>B</b></p></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 offset-2">
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 seatLetterGroup">
                        <div class="card">
                            <div class="card-header seatRowHeader"><p><b>C</b></p></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 offset-2">
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatAvailable  seatButton col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="seatAvailable  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                            <div class="seatTaken  seatButton col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>