<div class="row preseatting">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <div class="row">
                <div class="col-6">Select your seats </div>
                <div class="col-2"><i class="fas fa-utensils"></i></div>
                <div class="col-2">
                    <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                            data-target="#seatsCollapse" aria-expanded="false" aria-controls="collapseExample">
                        Toggle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" id="seatsCollapse">


    <div class="col-4">
        <app-seats-column col="A"></app-seats-column>
    </div>

    <div class="col-4">
        <app-seats-column col=B></app-seats-column>
    </div>

    <div class="col-4">
        <app-seats-column col=C></app-seats-column>
    </div>

</div>