<div class="row contactDetails">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-8">Contact Details</div>
                    <div class="col-2">
                        <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                                data-target="#busContactCollapse" aria-expanded="false" aria-controls="collapseExample">
                            Toggle
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body collapse show" id="busContactCollapse">
                <div class="row">
                    <div class="col-7 offset-2">
                        <select class="form-control">
                            <option>Gender</option>
                            <option value="MR">Male</option>
                            <option value="MS">Female</option>
                        </select>
                    </div>


                    <div class="row">
                        <div class="col-6"><input type="text" placeholder="Surname" value="FOO" class="form-control">
                        </div>
                        <div class="col-6"><input type="text" placeholder="Name" value="BAR" class="form-control"></div>
                    </div>



                    <div class="row">
                        <div class="col-4 offset-1"><input type="text" placeholder="Prefix" class="form-control"></div>
                        <div class="col-7"><input type="text" placeholder="Mobile" class="form-control"></div>
                    </div>

                    <div class="row">
                        <div class="col-10"><input type="text" placeholder="Email" class="form-control"></div>
                    </div>


                    <div class="row">
                        <div class="col-5"><select class="form-control">
                            <option>Select Country</option>
                            <option value="GR">Greece</option>
                            <option value="DE">Germany</option>
                        </select></div>
                        <div class="col-5"><input type="text" placeholder="City" class="form-control"></div>
                    </div>


                    <div class="row">
                        <div class="col-6"><input type="text" placeholder="Address" class="form-control"></div>
                        <div class="col-6"><input type="text" placeholder="Post code" class="form-control"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>