<div class=" contactDetails">

    <div class="row">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <div class="row">
                    <div class="col-6">Are you hungry ?</div>
                    <div class="col-2"><i class="fas fa-utensils"></i></div>
                    <div class="col-2">
                        <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                                data-target="#mealsCollapse0" aria-expanded="false" aria-controls="collapseExample">
                            Toggle
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="mealsCollapse0">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">


                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-primary" role="alert">Athens-Dublin</div>
                                </div>
                            </div>



                        <div class="row">
                            <div class="col-8 offset-2">
                                        <p class="card-text">
                                            <select class="form-control">
                                            <option value=""></option>
                                                <option *ngFor="let ml of mealsArray"
                                                        [value]="ml.ssr" >
                                                    {{ml.title}}
                                                </option>
                                        </select></p>


                            </div>
                        </div>



                           <!--
                            <div class="row">
                                <div class="col-8 offset-2">
                                    <div class="card text-white bg-info mb-3">
                                        <div class="card-header">Main Course</div>
                                        <div class="card-body">
                                            <p class="card-text"><select class="form-control">
                                                <option value=""></option>
                                                <option value="7">Vegeterian 5.00 EUR</option>
                                                <option value="8">Vegan 5.00 EUR</option>
                                                <option value="9">Muslim 5.00 EUR</option>
                                            </select></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
 -->


                    </div>
                </div>
            </div>

        </div>


    </div>
</div>