<div class="row passengerCompo show passengerListCollapse">
    <div class="col-12">
        <div class="card bg-light">


            <div class="card-header">

                <div class="row passengerId">

                    <div class="col-8 offset-3">
                        Passenger # {{pax.humanId}}
                    </div>
                </div>


                <div class="row">
                    <div class="col-6">

                        <select class="form-control">
                            <option value="">Select Type</option>
                            <option value="ADT">Adult</option>
                            <option value="CNN">Child</option>
                            <option value="INF">Infant</option>
                        </select>
                    </div>

                    <div class="col-6">
                        <select class="form-control">
                            <option value="Y">Economy</option>
                            <option value="W">Premium Economy</option>
                            <option value="C">Business</option>
                            <option value="F">First Class</option>
                        </select>
                    </div>

                </div>

                <div class="row passengerToggle">


                    <div class="col-4 offset-3">
                        <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                                data-target="idName" aria-expanded="false" aria-controls="collapseExample">
                            Toggle
                        </button>
                    </div>
                </div>


            </div>

            <!-- begin body card div -->
            <div class="card-body collapse show" id="passengerCollapse0">
                <div class="row">
                    <div class="col-8 offset-2 ageGroupSelect">
                        <select class="form-control">
                            <option value="">Select Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div>


                <div class="row ageGroupSelect" >
                    <div class="col-12"><input type="text" placeholder="Surname" id="#paxSurname0" value=""
                                              class="form-control">
                        <div></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12"><input type="text" placeholder="Name" id="#paxName0" value=""
                                              class="form-control">
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- end body card div -->

            <app-blueribbon  [pax]="pax"

            ></app-blueribbon>


            <!-- <app-passport></app-passport>
             <app-insurance></app-insurance>
             <app-bags></app-bags>
             <app-meals></app-meals>
             <app-flexible></app-flexible> -->


            <div class="card-footer">
                <div class="row">
                    <div class="col-8 offset-2">
                        <button class="btn btn-primary btn-sm btn-danger">Remove this Passenger</button>
                    </div>
                </div>
            </div>

        </div> <!-- end card div -->

    </div>

