<div class="collapse bagLeg" id="bagCollapse0">

    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-6 offset-4">
                Departure
            </div>
        </div>
    </div>


    <div *ngFor="let bagssr of bagSSRs">
        <app-bag-option [pax]="pax" [bag]="bagssr" [leg]="0"></app-bag-option>
    </div>

</div>






<div class="collapse bagLeg" id="bagCollapse0">

    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-6">
                Return
            </div>
        </div>
    </div>


    <div *ngFor="let bagssr of bagSSRs">
        <app-bag-option [pax]="pax" [bag]="bagssr" [leg]="1"></app-bag-option>
    </div>

</div>