<!--The content below is only a placeholder and can be replaced.-->
<app-price-box [passengerArray]="passengerArray"
               [ticketPrices]="ticketPrices"
               [blueRibbonPrice]="blueRibbonPrice"
               [boughtBlueRibbon]="boughtBlueRibbon"
></app-price-box>

<div class="row">
    <div class="col-sm-12">

        <app-passenger-list [passengerArray]="passengerArray"
                            [blueRibbonPrice]="blueRibbonPrice"
                            [boughtBlueRibbon]="boughtBlueRibbon"
        ></app-passenger-list>

       <!-- <app-contact></app-contact>
        <app-payment></app-payment>  -->
    </div>
</div>

