<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <div class="row">
                <div class="col-6">Purchase Bags!</div>
                <div class="col-2"><i class="fas fa-suitcase"></i></div>
                <div class="col-2">
                    <button class="btn btn-sm btn-dark btn-block btnToggle collapsed" data-toggle="collapse"
                            data-target="#bagCollapse0" aria-expanded="false" aria-controls="collapseExample">
                        Toggle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<app-bag-leg [pax]="pax"></app-bag-leg>




