<div class="row contactDetails">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                <div class="row">
                    <div class="col-sm-3">Flexible Ticket</div>
                    <div class="col-sm-2 offset-sm-6">
                        <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                                data-target="#flexibleTicketCollapse" aria-expanded="false"
                                aria-controls="collapseExample">Toggle
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body collapse show" id="flexibleTicketCollapse">
                <div class="row">
                    <div class="col-md-8">Pay 5.00 EUR and you may cancel/amend your ticket for free!</div>
                    <div class="col-md-3"><select class="form-control">
                        <option value="0">No thanks</option>
                        <option value="1">Yes please</option>
                    </select></div>
                </div>
            </div>
        </div>
    </div>
</div>