
<div class="row">

    <div class="col-2 offset-4">
       A
    </div>


</div>



<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
