<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
<app-seats-row></app-seats-row>
