<div class="row contactDetails">
    <div class="col-12">
        <div class="card  bg-light">
            <div class="card-header bg-info ">
                <div class="row">
                    <div class="col-10 offset-1">Buy Blue Ribbon Bag Insurance!</div>
                </div>

                <div class="row">
                    <div class="col-4 offset-3">
                        <button class="btn btn-sm btn-dark btn-block btnToggle" data-toggle="collapse"
                                data-target="#blueRibbonCollapse" aria-expanded="false" aria-controls="collapseExample">
                            Toggle
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-body collapse show" id="blueRibbonCollapse">
                <div class="row">
                    <div class="col-10 offset-1 blueRibbonDescript">Pay {{blueRibbonPrice}} EUR and you will receive 450 EUR reimbursement for each lost
                        baggage
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        <select class="form-control" (change)="changeBRB($event, pax.id)">
                            <option value="0">No thanks</option>
                            <option value="1">Yes please</option>
                        </select></div>
                </div>
            </div>
        </div>
    </div>
</div>